* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "MyCustomFont1";
  src: url("../public/fonts/pixel1.TTF") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "MyCustomFont1", sans-serif;
}

body {
  /* background-color: #18abe0; */
  background-image: linear-gradient(90deg, #000000, #0e1c3f);
  color: #c07506;
}

.App {
  text-align: center;
  max-width: 100%;
  overflow-x: hidden;
  padding: 0;
}

/* Logo */
.App-logo {
  height: 40vmin;
  pointer-events: none;
  animation: App-logo-spin infinite 20s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Header */
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

/* Links */
.App-link {
  color: #61dafb;
  text-decoration: none;
  transition: color 0.3s ease;
}

.App-link:hover {
  color: #4fa3d1;
}

/* Section Styling */
.did-you-know {
  text-align: center;
  color: #ffb254;
  font-size: 1.2rem;
  font-weight: 600;
  margin: 20px 0;
}

.headers {
  color: #b3b3ff;
  background-color: #000;
  text-align: left;
  display: flex;
  justify-content: left;
  padding: 10px 15px;
  font-size: 1.5rem;
}

.gform a {
  color: #ffb254;
  font-size: 18px;
  position: absolute;
  text-decoration: none;
  border: 1px solid #ffb254;
  border-radius: 5px;
  padding: 10px;
  top: 2rem;
  right: 1.5rem;
}

.gform a:hover {
  transform: scale(1.1);
  border: 2px solid #ffb254;;
}

/* Loading Screen */
.loadingscreen {
  width: 210px;
  height: 200px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e7a529;
  padding: 15px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

#nav-links a {
  text-decoration: none;
  color: black;
  font-size: 19px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
}

#nav-links a:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* Logo Styling */
.logo-main {
  height: 120px;
  width: 250px;
  object-fit: contain;
  cursor: default;
  position: absolute;
  top: -1rem;
  left: 1rem;
}

.fiem {
  height: 40px;
  width: 60px;

  /* position: relative;
  top: 2.2rem;
  left: 17.5rem; */

  transform: translateX(-20px);
  margin-top: 25px;
  margin-left: 250px;
  margin-right: 110px;
  margin-bottom: 20px;
}

/* Button Styling */
.nav-btn {
  display: flex;
  gap: 8px;
  align-items: center;

  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  color: black;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  background: #e7a529;
  transition: all 0.3s ease-in-out;
}

.joinus-btn {
  display: none !important;
}

.nav-icons {
  transform: translateY(-1.5px);
}

.nav-btn:hover {
  background: #ff6666;
  box-shadow: 0px 0px 15px rgba(253, 64, 120, 0.8);
  transform: scale(1.1);
}

/* Individual Button Hover Effects */
.home-btn:hover {
  box-shadow: 0px 0px 15px rgba(253, 64, 120, 0.8);
}

.about-btn:hover {
  box-shadow: 0px 0px 15px rgba(130, 64, 253, 0.8);
}

.sponsers-btn:hover {
  box-shadow: 0px 0px 15px rgba(0, 235, 184, 0.8);
}

.team-btn:hover {
  box-shadow: 0px 0px 15px rgba(230, 113, 4, 0.881);
}

.gallery-btn:hover {
  box-shadow: 0px 0px 15px rgba(247, 64, 253, 0.8);
}

.contact-btn:hover {
  box-shadow: 0px 0px 15px rgba(140, 253, 64, 0.8);
}

.joinus-btn:hover {
  box-shadow: 0px 0px 15px rgba(43, 21, 241, 0.8);
}

/* Active Link */
.active {
  background-color: #1d4ed8;
}

/* Main Navigation */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0f172a;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.cross {
  position: absolute;
  top: -0.5rem;
  left: 0.25rem;
  color: rgb(49, 0, 0);
  font-size: 35px;
  display: block;
}

nav .title {
  font-size: 1.5rem;
  margin: 1rem;
  font-weight: bold;
  text-decoration: none;
  color: white;
}

nav ul {
  display: flex;
  justify-content: center;
  width: 72%;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  margin: 0 0.5rem;
  border-radius: 0.5rem;
  transition: background 0.3s;
}

nav ul li a:not(.active):hover {
  background-color: #172554;
}

/* Menu for Mobile */
nav .menu {
  display: none;
  position: absolute;
  top: 1rem;
  left: 0.8rem;
  flex-direction: column;
  justify-content: space-between;
  width: 2.25rem;
  height: 2rem;
}

nav .menu span {
  height: 100%;
  width: 100%;
  padding: 10px;
  border-radius: 0.2rem;
}

.big-container {
  width: 100%;
}

.web-content-container {
  width: 70%;
  margin: 0 auto;
  overflow: hidden; 
}

.web-content {
  font-family: sans-serif;
  font-size: 22px;
  border: 3px solid black;
  border-radius: 7px;
  margin: 20px;
  padding: 40px;

  /* width: 50%; */
  border: 1px solid #3f80ff;
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.12);
  box-shadow: 0 0 26px rgba(2, 31, 59, 0.7),
    1px 1.5px 2px -1px rgba(2, 31, 59, 0.65),
    4px 4px 12px -2.5px rgba(2, 31, 59, 0.65);
}

.fadein_fadeout {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
}

.web-content:hover {
  transform: scale(1.2);
}

/* Responsive Design */
@media (max-width: 1460px) {
  .navbar {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .navbar a {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  #nav-links a {
    font-size: 12px;
  }

  .loadingscreen {
    width: 40px;
    height: 40px;
  }

  h1 {
    font-size: 22px;
  }

  .did-you-know {
    font-size: 16px;
  }
}

/* Mobile Navigation */
@media (max-width: 640px) {
  .logo-main {
    left: 25%;
  }

  .fiem {
    transform: translateX(120px);
  }

  .headers {
    height: 100px;
  }

  .gform a {
    display: none;
  }

  .nav-btn {
    justify-content: center;
  }

  .joinus-btn {
    display: flex !important;
  }

  nav .menu {
    display: flex;
    opacity: 0;
  }

  nav ul.open span {
    display: none;
  }

  #nav-links a {
    font-size: 20px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 65%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
    padding: 15px;
  }

  nav ul li {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: yellow;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
    padding-left: 20%;
    padding-right: 20%;
  }
}

@media (max-width: 480px) {
  .logo-main {
    left: 15%;
  }

  .fiem {
    transform: translateX(30px);
  }

  .headers {
    height: 100px;
  }

  .gform a {
    display: none;
  }

  nav .menu {
    display: flex;
  }

  nav ul.open span {
    display: none;
  }

  .nav-btn {
    display: flex;
  }

  #nav-links a {
    font-size: 20px;
  }

  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav ul {
    display: none;
    flex-direction: column;
    width: 76%;
    margin-bottom: 0.25rem;
  }

  nav ul.open {
    display: flex;
    padding: 15px;

    opacity: 0; 
    animation: fadeIn 0.5s ease-in forwards;
  }

  nav ul li {
    display: flex;
    width: 100%;
    text-align: center;
    color: yellow;
  }

  nav ul li a {
    margin: 0.2rem 0.5rem;
    padding-left: 20%;
    padding-right: 20%;
  }
}

